*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background: #efeff4;
}
/*复写样式*/
.row {
    margin-right: 0px;
    margin-left: 0px;
}
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    padding-right: 0px;
    padding-left: 0px;
}
/*底部导航*/
.nav{
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    padding-top: 7px;
    border-top: 1px solid #cbcbcb;
    z-index: 100;
    background: #fff;
}
.nav ul li {
    float: left;
    list-style: none;
    width: 20%;
    text-align: center;
}
.nav ul li::after{
    content: "";
    display: table;
    clear: both;
}
.nav ul li a{
    color: #5d5f6a;;
}
.nav ul li a.active{
    color: #4185f4;
}
.nav ul li .fa{
    position: relative;
    padding-bottom: 5px;
    font-size:22px;
}
.nav ul li span{
    padding-top: 2px;
    display: block;
    font-size: 13px;
}
.nav ul li a img{
    width:50px;
    height:50px;
    border: 1px solid #fff;
    background: #f4f4f4;
    border-radius: 50%;
    position: relative;
    top:-33px;
    left:0px;
}
/*index页app头部提示部分*/
.index .appTips{
    background: #e6e6e8;
    padding:10px 0px;
}
.index .appTips .appTips-img img{
    margin-top: 3px;
    background: #fff;
    width: 50%;
    border-radius: 5px;
}
.index .appTips .appTips-text p{
    width: 100%;
    height: 20px;
    display: block;
    overflow: hidden;
    /*CSS省略号*/
    text-overflow: ellipsis;
    white-space: nowrap;
     margin:0;
     color: #8f8f94;
 }
.index .appTips .appTips-btn a{
    color: #000;
    font-size:16px;
    line-height: 40px;
    text-decoration: none;
}
/*首页搜索条部分*/
.index .header-top{
    padding-top: 10px;
    background: #fff;
}
.index .header-top .col-xs-2{
    text-align: center;
}
.index .header-top input{
    width:90%;
    height:35px;
    border: none;
    border: 1px solid #4185f4;
    border-radius: 20px;
    padding-left: 30px;
}
.index .header-top i{
    position: relative;
    top:1px;
    left:29px;
}
.index .header-top .search-bar-right a{
    text-decoration: none;
    font-size:20px;
    color: #4185f4;
    text-align: center;
    line-height: 35px;
}
/*首页小导航*/
.index .snav{
    text-align: center;
    width: 100%;
    overflow: scroll;
    height:50px;
    background: #fff;
}
.index .snav .box{
    width:450px;
}
.index .snav .box ul::after{
    content: "";
    display: table;
    clear: both;
}
.index .snav .box ul li {
    float: left;
    list-style: none;
    font-size: 20px;
    color: #414141;
    padding:10px 20px;
}
.index .snav .box ul li.active{
    color: #4185f4;
    border-bottom: 2px solid #4185f4;
}
.index .snav::-webkit-scrollbar{
    display: none;
}
/*banner 部分样式*/
.index .banner img{
    width: 100%;
}
.index .banner .swiper-container {
    width: 100%;
}
.index .banner .swiper-pagination-bullet {
    opacity: 0.2;
}
.index .banner .swiper-pagination-bullet-active {
    opacity: 1;
    background: #8aafec;
    width:15px;
    border-radius: 20px;
}
.index .bannerb{
    background: #e72ac6;
    text-align: center;
    padding:20px 0px;
}
.index .bannerb a{
    text-decoration: none;
}
.index .bannerb .items::after{
    content: "";
    display: table;
    clear: both;
}
.index .bannerb .items{
    width:85%;
    margin:0 auto;
    background: #8c1cbe;
    border:4px solid #8c1cbe;
}
.index .bannerb .item{
    float: left;
    width:33.3%;
}
.index .bannerb .item img{
    width:100%;
}
.index .bannerb .item .imgD{
    border:2px solid #8c1cbe;
    position: relative;
}
.index .bannerb .item .imgD p{
    background: #000;
    margin:0;
    width: 100%;
    opacity: .5;
    display: block;
    position: absolute;
    bottom: 0px;
    left: 0px;
}
.index .bannerb .item .imgD p span{
    color: #fff566;
    font-size: 18px;
}
.index .bannerb .item .imgD p del{
    color: #fff;
    font-size: 12px;
}
.index .bannerb .item .textD p{
    margin:0;
    color: #fff;
    font-size: 13px;
}
/*首页今日直播部分*/
.index .zhibo{
    text-align: center;
    background: #fff;
}
.index .zhibo a{
    text-decoration: none;
}
.index .zhibo h3{
    color: #414141;
    font-size:17px;
    margin-top: 10px;
    padding-top: 10px;
}
.index .zhibo .hei{
    background-image: url(../img/jinrizhibo/jinrizhibo.jpg);
    background-size: cover;
}
.index .zhibo .shop-zb{
    padding-top: 2%;
    padding-bottom: 15%;
    background: rgba(0, 0, 0, 0.5);
}
.index .zhibo .shop-zb .zhibozhong {
    width: 18%;
    text-align: center;
    border-radius: 20px;
    background: #fff;
    color: #f54056;
    margin-left: 10px;
}
.index .zhibo .shop-zb .zhibozhong strong{
    animation: ball 500ms infinite alternate;
}
@keyframes ball{
    0%{
        opacity: 1;
    }
    100%{
        opacity:0;
    }
}

.index .zhibo .shop-zb .time{
    font-size: 36px;
    padding-top: 5%;
    color: #fff;
}
.index .zhibo .shop-zb .shopping{
    height:25px;
    width: 20%;
    margin:0 auto;
    line-height: 25px;
    text-align: center;
    border-radius: 20px;
    background: #f54056;
}
.index .zhibo .shop-zb .shopping a{
    color: #fff;
    text-decoration: none;
}
.index .zhibo .textZ{
    padding-top: 10px;
    padding-bottom: 10px;
}
.index .zhibo .textZ .col-xs-8 p{
    margin:0;
    height:25px;
    color: #414141;
    font-size: 16px;
    padding-left: 10px;
    display: block;
    overflow: hidden;
    /*CSS省略号*/
    text-overflow: ellipsis;
    white-space: nowrap;
}
.index .zhibo .textZ span{
    color: #f56a4c;
    font-size: 20px;
}
.index .zhibo .textZ .col-xs-4 p {
    color: #fff;
    background: #4185f4;
    width: 65%;
    margin: 0 auto;
    border-radius: 50px;
    padding: 5px 0px;
    margin-top: 10px;
}
/*}首页领卷部分*/
.index .lingjuan{
    margin-top: 10px;
    text-align: center;
    background: #fff;
}
.index .lingjuan .juan img{
    padding-top: 10px;
}
.index .lingjuan .juan .imgT span{
    color: #585858;
    font-size: 18px;
}
.index .lingjuan .juan p{
    margin:0;
    color: #999;
    padding-bottom: 3px;
}
.index .lingjuan .juan p span{
    font-size:20px;
    color: #414141;
}
.br{
    border-right:1px solid #e2e6ef;
}
.bb{
    border-bottom:1px solid #e2e6ef;
}
.bt{
    border-top:1px solid #e2e6ef;
}
.bl{
    border-left:1px solid #e2e6ef;
}
/*二频道部分样式*/
.index .erpindao{
    margin-top: 10px;
    background-color: #fff;
    padding-top: 15px;
    padding-bottom: 10px;
    font-size: 17px;
}
.index .erpindao p{
    color: #3f4042;
    margin:0;
    height:30px;
    display: block;
    overflow: hidden;
    /*CSS省略号*/
    text-overflow: ellipsis;
    white-space: nowrap;
}
.index .erpindao p,
.index .erpindao span{
    line-height: 30px;
}
.index .erpindao span{
    color: #f33047;
}
.index .erpindao::after{
    content: "";
    display: table;
    clear: both;
}
.index .erpindao .left,
.index .erpindao .center,
.index .erpindao .right{
    float: left;
}
.index .erpindao .left{
    padding-left: 10px;
    width:70%;
}
.index .erpindao .center{
    width: 20%;
}
.index .erpindao .right{
    width: 10%;
}
/*家电品牌馆*/
.index .pinpaiguan img{
    width:100%;
    margin-top: 10px;
}
/*精品活动部分*/
.index .jingpinhuodong{
    background: #fff;
    text-align: center;
}
.index .jingpinhuodong h3{
    color: #414141;
    font-size:17px;
    padding-top: 10px;
    margin-top: 10px;
}
.index .jingpinhuodong img{
    width: 100%;
}
/*新品推荐部分样式*/
.index .xinpintuijian{
    background: #fff;
}
.index .xinpintuijian h3{
    color: #414141;
    font-size:17px;
    padding-top: 10px;
    text-align: center;
    margin-top: 10px;
}
.index .xinpintuijian .shopX{
    width: 100%;
    overflow: scroll;
}
.index .xinpintuijian .shopX .box{
    width:1720px;
}
.index .xinpintuijian .shopX::-webkit-scrollbar{
    display: none;
}
.index .xinpintuijian .shopX ul::after{
    content:"";
    display: table;
    clear: both;
}
.index .xinpintuijian .shopX ul li {
    margin-left: 5px;
    margin-right: 5px;
    float: left;
    width:16%;
    list-style: none;
    position: relative;
}
.index .xinpintuijian .shopX ul li p{
    padding:0 5px;
    margin:0;
    display: block;
    overflow: hidden;
    /*CSS省略号*/
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #333;
}
.index .xinpintuijian .shopX ul li span{
    color: #f54056;
    font-size: 18px;
}
.index .xinpintuijian .shopX ul li .x{
    position: absolute;
    top:-3px;
    left:0;
}
.index .xinpintuijian .shopX .shop img{
    width: 100%;
    height:153px;
}
.index .xinpintuijian .shopX ul .more{
    text-align: center;
    border:4px solid #e1e1e1;
    width: 7%;
    margin:50px auto;
    padding:20px 0px;
}
/*三佳推荐部分样式*/
.index .sanjiatuijian{
    background: #fff;
    text-align: center;
}
.index .sanjiatuijian h3{
    color: #414141;
    font-size:17px;
    padding-top: 10px;
    margin-top: 10px;
}
.index .sanjiatuijian img{
    width: 100%;
}
.index .sanjiatuijian .shopS::-webkit-scrollbar{
    display: none;
}
.index .sanjiatuijian .shopS{
    text-align: center;
    width: 100%;
    overflow: scroll;
}
.index .sanjiatuijian .shopS .box{
    width: 1000px;
}
.index .sanjiatuijian .shopS .box::after{
    content: "";
    display: table;
    clear: both;
}
.index .sanjiatuijian .shopS .box div{
    float: left;
    width: 14%;
}
.index .sanjiatuijian .shopS .box div p{
    display: block;
    overflow: hidden;
    /*CSS省略号*/
    text-overflow: ellipsis;
    white-space: nowrap;
}
.index .sanjiatuijian .shopS .box div .doll{
    width: 100%;
}
.index .sanjiatuijian .shopS .box div .doll span{
    color: #f54056;
    font-size: 18px;
}
.index .sanjiatuijian .shopS .box div .right img{
    width: 31px;
    height: 17px;
}
.index .sanjiatuijian .shopS .box div::after{
    content: "";
    display: table;
    clear: both;
}
.index .sanjiatuijian .shopS .box div .right{
    width: 60%;
}
.index .sanjiatuijian .shopS .box div .left{
    width:40%;
}
.index .sanjiatuijian .shopS .box div .right,
.index .sanjiatuijian .shopS .box div .left{
    float: left;
    display: block;
}
.index .sanjiatuijian .shopS .box .more{
    text-align: center;
    border:4px solid #e1e1e1;
    margin:50px auto;
    padding:20px 0px;
}
.index .sanjiatuijian .shopS .box .more a{
    color: #414141;
}
/*热销排行榜样式*/
.index .rexiao h3{
    background: #fff;
    color: #414141;
    font-size:17px;
    padding-top: 10px;
    margin-top: 10px;
    text-align: center;
    margin-bottom: 0px;
    padding-bottom: 10px;
}
.index .rexiao .navs::-webkit-scrollbar{
    display: none;
}
.index .rexiao .navs{
    text-align: center;
    width: 100%;
    overflow: scroll;
}
.index .rexiao .navs .box{
    width: 740px;
}
.index .rexiao .navs .box::after{
    content: "";
    display: table;
    clear: both;
}
.index .rexiao .navs .box div{
    float: left;
    color: #666;
    padding:10px 10px;
}
.index .rexiao .navs .box div.active{
    background: #4185f4;
}
.index .rexiao .navs .box div i{
    font-size: 21px;
}
.index .rexiao .navs .box div p{
    font-size: 15px;
    margin:0;
}
.index .rexiao .navs .box div.active i,
.index .rexiao .navs .box div.active p{
    color: #fff;
}
.index .rexiao .shopR div{
    position: relative;
    background: #fff;
    margin-bottom: 10px;
}
.index .rexiao .shopR div .h{
    position: absolute;
    top:5px;
    left:5px;
    z-index: 1;
}
.index .rexiao .shopR div .h img{
    width: 51px;
    height: 42px;
}
.index .rexiao .shopR div .shop img{
    width: 100%;
}
.index .rexiao .shopR div .shop p{
    margin:0px;
    padding-top: 10px;
    padding-left: 5px;
    color: #414141;
    font-size: 15px;
}
.index .rexiao .shopR div .shop span{
    font-size: 18px;
    color: #f54056;
}
/*猜你喜欢*/
.cainixihuan #shop{
    background: #fff;
}
.cainixihuan #shop a{
    text-decoration: none;
    color: #414141;
}
.cainixihuan #shop a p{
    margin:0;
    padding:3px 3px;
    display: block;
    overflow: hidden;
    /*CSS省略号*/
    text-overflow: ellipsis;
    white-space: nowrap;
}
.cainixihuan #shop span{
    color: #f54056;
    font-size: 18px;
}
.cainixihuan .col-xs-6{
    border:1px solid #e2e6ef;
}
.cainixihuan h3{
    background: #fff;
    color: #414141;
    font-size:17px;
    padding-top: 10px;
    margin-top: 10px;
    text-align: center;
    margin-bottom: 10px;
    padding-bottom: 10px;
}
.cainixihuan img{
    width: 100%;
}


.index .index-b img,
.sign .index-b img{
    width: 35%;
}
.index .index-b,
.sign .index-b{
    padding-top: 15px;
    margin-bottom: 60px;
    font-size: 12px;
}
.index .index-b a,
.sign .index-b a{
    color: #999;
}

/*返回顶部*/
#top{
    position: fixed;
    border-bottom: 20px;
    right:10px;
    bottom:80px;
    text-align: center;
    background: #fff;
    border-radius:50%;
    width:40px;
    height:40px;
    z-index: 1;
    display: none;
}

.sort{
    background: #fff;
}
.sort .top,
.shopcar .top{
    position: relative;
    background: #fff;
}
.shopcar .top .imgT,
.sort .top .imgT{
    position: absolute;
    top:9px;
    left: 5px;
}
.sort .top h3,
.shopcar .top h3{
    color: #4185f4;
    text-align: center;
    margin:0;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 18px;
}
/*厨房电器*/
.sort .chufangdianqi a,
.sort .shipinyinliao a,
.sort .jiadianshuma a,
.sort .jiajvzhuangshi a,
.sort .fushixiebao a,
.sort .zhubaopeishi a,
.sort .shoucanglvyou a,
.sort .hufuxihu a{
    color: #666;
    text-align: center;
}
.sort .chufangdianqi .topD{
    padding:40px 0px;
    text-align: center;
    color:#fff;
    background-image: url(../sort-img/chufangdianqi/banner.jpg);
    background-size: cover;
}
.sort .topD h3{
    margin:0;
    font-size: 30px;
}
.sort .topD p{
    font-size: 18px;
    margin: 5px 0 10px;
}
.sort .topD a{
    color: #fff;
    text-decoration: none;
}
.sort .chufangdianqi #shop-J img,
.sort .chufangdianqi #shop-JB img,
.sort .jiajvzhuangshi #shop-G img,
.sort .jiajvzhuangshi #shop-GB img,
.sort .jiadianshuma #shop-S img,
.sort .jiadianshuma #shop-SB img,
.sort .shipinyinliao #shop-P img,
.sort .fushixiebao #shop-F img,
.sort .fushixiebao #shop-FB img,
.sort .zhubaopeishi #shop-Z img,
.sort .shoucanglvyou #shop-C img,
.sort .hufuxihu #shop-H img{
    width: 100%;
}
.sort .chufangdianqi p,
.sort .jiajvzhuangshi p,
.sort .jiadianshuma p,
.sort .shipinshengxian p,
.sort .shoucanglvyou p,
.sort .fushixiebao p{
    text-align: center;
}
.sort a{
    text-decoration: none;
}
.sort .chufangdianqi .button1,
.sort .jiajvzhuangshi .button2,
.sort .fushixiebao .button4,
.sort .jiadianshuma .button3{
    text-align: center;
    color: #666;
    border:1px solid #666;
    width:25%;
    margin:0 auto;
    border-radius: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.sort .chufangdianqi .button1 p,
.sort .jiajvzhuangshi .button2 p,
.sort .jiadianshuma .button3 p,
.sort .fushixiebao .button4 p{
    margin:0;
}
.sort .chufangdianqi #shop-JB,
.sort .jiajvzhuangshi #shop-GB,
.sort .jiadianshuma #shop-SB,
.sort .fushixiebao #shop-FB{
    /*display: none;*/
}

.sort .topD{
    padding:40px 0px;
    text-align: center;
    color:#fff;
    background-size: cover;
}
/*家居家装*/
.sort .jiajvzhuangshi .topD{
    background-image: url(../sort-img/jiajvjiashi/banner.jpg);
}

/*家电数码*/
.sort .jiadianshuma .topD{
    background-image: url(../sort-img/jiadianshuma/banner.jpg);
}
/*食品饮料*/
.sort .shipinyinliao .topD{
    background-image: url(../sort-img/shipinyinliao/banner.jpg);
}
/*服饰鞋包*/
.sort .fushixiebao .topD{
    background-image: url(../sort-img/fushixiebao/banner.jpg);
}
/*珠宝配饰*/
.sort .zhubaopeishi .topD{
    background-image: url(../sort-img/zhubaopeishi/category_pic_6.jpg);
}
/*护肤洗护*/
.sort .hufuxihu .topD{
    background-image: url(../sort-img/hufuxihu/category_pic_7.jpg);
}
/*收藏旅游*/
.sort .shoucanglvyou .topD{
    background-image: url(../sort-img/shoucanglvyou/category_pic_8.jpg);
}
.sort .cainixihuan,
.shopcar .cainixihuan{
    margin-bottom: 50px;
}
.shopcar{
    text-align: center;
    background: #f4f4f4;
}
.shopcar .car p a{
    text-decoration: none;
    color: #666;
}
.shopcar .car span a{
    text-decoration: none;
    color: #666;
}
.shopcar .car img{
    margin-top: 100px;
}
.shopcar .car h3{
    font-size: 18px;
    background: #4185F4;
    border-radius: 20px;
    width:70%;
    margin:0 auto;
    margin-bottom: 100px;
    padding:10px 0;
}
.shopcar .car h3 a {
    text-decoration: none;
    color: #fff;
}
.sign .top{
    position: relative;
    padding-top: 20px;
    text-align: center;
    background: #95bbf9;
    color: #fff;
    padding-bottom: 10px;
}
.sign .top .img{
    width:20%;
    margin:auto;
    border:2px #fff solid;
    border-radius: 50%;
    width:105px;
    height:104px;
    margin-bottom: 10px;
}
.sign .top .img a{
    color: #fff;
    text-decoration: none;
}
.sign .top a{
    color: #fff;
}
.sign .top .col-xs-4{
    text-align: center;
}
.sign .top img{
    background: #fff;
    border:2px #95bbf9 solid;
    border-radius: 50%;
}
.sign .top .p{
    padding-top: 30px;
    padding-right: 20px;
}
.sign .top .vip{
    position: absolute;
    top:135px;
    right:0px;
    background: #fff;
    border-radius: 20px 0px 0px 20px;
    width:25%;
    z-index: 100;
}
.sign .top .vip p{
    margin:0;
}
.sign .top .vip img{
    border:none;
}
.sign .top .vip a{
    color: #121212;
}
.sign .youhui{
    background: #95bbf9;
    z-index: 100;
}
.sign .youhui .ytop,
.sign .youhui .ybottom{
    width:90%;
    margin:auto;
    background: #fff;
}
.sign .youhui .ytop{
    border-bottom: 1px dashed #666;
    border-radius: 5px 5px 0px 0px;
}
.sign .youhui p{
    color: #666;
    margin:0;
    padding:15px 0px;
}
.sign .youhui span,
.sign .youhui .ytop strong{
    color: red;
}
.sign .youhui strong{
    font-size: 20px;
}
.sign .youhui .ybottom img{
    border:none;
}
.sign .youhui .ybottom p{
    padding:0;
}
.sign .youhui .ybottom strong{
    color: #000;
}
.sign .youhui .ybottom{
    padding-top: 5px;
    padding-bottom: 5px;
}
.sign .vipka{
    background: #000;
    width: 90%;
    margin:auto;
    color: #ebdaa8;
    border-radius: 0px 0px 5px 5px;
    transition: 1s;
    z-index: 10;
}
.sign .vipka h4{
    margin:0;
    font-size: 22px;
    padding:10px 0px ;
}
.sign .vipka strong{
    font-size: 18px;
}
.sign .vipka .text-right{
    padding-right: 10px;
}
.sign .vipka a{
    color: #ebdaa8;
}
.sign .vipka img{
    border:none;
}
.sign .vipka .buttons::after{
    content: "";
    display: table;
    clear: both;
}
.sign .vipka .buttons h5,
.sign .vipka .buttons a{
    float: left;
    margin:0;
    padding-top: 50px;
}
.sign .vipka .buttons h5{
    padding-top: 53px;
    padding-left: 10px;
}
.sign .vipka .buttons a{
    float: right;
    padding-right: 10px;
}
.bl{
    border-left:1px solid #e2e6ef;
}
.sign .navs{
    position: relative;
    background-color: #fff;
}
.sign .navs ul::after{
    content: "";
    display: table;
    clear: both;
}
.sign .navs ul li{
    float: left;
    list-style: none;
    width:20%;
    text-align: center;
    padding-top: 5px;
}
.sign .navs ul li a{
    color: #666;
    text-decoration: none;
}
.sign .navs .nini{
    right:18.9%;
    bottom:25px;
    position: absolute;
}
.sign .list {
    background: #fff;
}
.sign .list a{
    color: #666;
    text-decoration: none;
}
.bb{
    border-bottom: 1px solid #e4e5eb;
}
.sign .list p{
    margin:0;
    padding:15px 0px ;
    margin:0 10px;
}
.sign .list .imgB{
    float: right;
}
.tanchu{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:rgba(0,0,0,0.3);
    z-index: 120;
}
.tanchu .cuo{
    margin-top: 6%;
    margin-left: 2%;
}
.tanchu a img{
    margin-top: 66%;
    margin-left: 4%;
    animation: dong 1s infinite;
}



















