* {
	margin: 0;
	padding: 0;
	font-family: "微软雅黑", "黑体";
	list-style: none;
	text-decoration: none;
}

body {
	background-image: url(../img/bg.jpg);
}

img {
	display: block;
}
header .logo a{
    display: block;
}
avbar-brand > img {
    display: block;
    margin-top: -10px;
}
nav .nav-mobile ul li,header .inp-mobile{
		list-style: none;
	}
.navbar-default {
    background-color: #000;
    border-color: #000;
    color: #fff;
}
/*------------------------黑色头部----------------------------*/
.topnav-box{
	width: 100%;
    background-color: black;
    height: 62px;
}
.topnav-box .topnav{
	width: 89%;
	margin: 0 auto;
}
#btn-topnav, nav .nav-mobile,nav .nav-mobile ul li a{
	display: none;
}



.fixed：after {
	visibility: hidden;
	/* 能见度 */
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

header>.navbar>.collapse {
	position: relative;
	width: 100%;
	height: 78px;
}

contant>.container {
	height: 260px;
}

contant>.container>.liucheng {
	padding: 70px 0px 40px 30px;
/*	-webkit-animation: img 2.5s ease 1000000;*/
}

@-webkit-keyframes img {
	0% {
		margin-top: 0px;
	}
	50% {
		margin-top: 20px;
	}
	100% {
		margin-top: 0px;
	}
}

.container-bg>.container>.row>.gif>img {
	border: 5px solid #fff7e9;
}

.container-bg>.container>.com>div>h3 {
	color: #fe2b89;
	border-left: 3px solid #fe2b89;
	padding-left: 3px;
}
.container-bg>.container>.com,.container-bg>.container>.com1{
	background: #fff;
	padding:20px;
}
.container-bg>.container>.com1>div>h3 {
	color: #683b00;
	border-left: 3px solid #683b00;
	padding-left: 3px;
}

/*
.container>.com>.row>.gif>img:hover {
	box-shadow: 5px 5px 15px #5E5E5E;
	transition: all 500ms;
	border-radius: 50px;
}

.container-bg>.container>.com1>.row>.gif>img:hover {
	box-shadow: 5px 5px 15px #5E5E5E;
	border-radius: 50%;
	transition: all 500ms;
}
*/


.cl>.container{
	overflow: hidden;
}
.cl>.container>.img1>img{
	margin:0 auto;
	padding-bottom: 40px;
}
footer>.container>.row>.col-md-2>ul>li {
	font-size: 16px;
	color: #000;
	line-height: 16px;
	padding-bottom: 38px;
	text-align: center;
}
footer>.container>.row>.col-md-2>ul{
	border-left: 1px solid #5E5E5E;;
}
footer>.container>.row>.col-md-2>h4 {
	font-size: 16px;
	color: #000;
	text-align: center;
	width: 100%;
	line-height: 16px;
	display: block;
	padding-bottom: 30px;
}

footer>.container>.row>.col-md-2>p {
	font-size: 16px;
	color: #828181;
	text-align: left;
	clear: both;
	width: 100%;
	line-height: 36px;
}
footer>.container>.row>.col-md-3>p,footer>.container>.row>.col-md-2>p,footer>.container>.row>.col-md-3>h4{
     display: block;
	text-align: center;
}
footer>.container>.row>.col-md-2>img, footer>.container>.row>.col-md-3>img{
	margin: 0 auto;
}
footer>.container>.row{
	padding: 95px 0px 20px 0px;
}
@media (min-width:600px) and (max-width: 990px) {
	.container>.row>.gif {
		padding: 80px 0px 10px 60px;
	}
}

@media (min-width:768px) and (max-width: 1200px) {
	header>.navbar>.container>.navbar-header>a>img {
		padding: 0px 0px 0px 0px;
	}
	header>.navbar>.container>.collapse>.nav>li {
		width: 80px;
	}
	header>.navbar>.container>.collapse>.nav>li>a {
		font-size: 16px;
	}
}
@media (max-width: 768px) {
	main {
		margin-top: 78px;
	}
	header>.navbar>.container>.collapse>.nav>li {
		height: 45px;
		background: orangered;
		line-height: 45px;
		padding: 2px 0px;
		width: 70px;
		margin: 0 auto;
	}
	.carousel-indicators li{
		display: none;
	}
	header>.navbar>.container>.collapse>.nav>li>a {
		font-size: 14px;
		font-weight: 100;
		height: 45px;
		line-height: 45px;
		width: 70px;
		margin:0 auto;
	}
		header>.navbar>.container>.collapse>.nav>li{
			text-align: center;
			width: 100%;
		}
	header>.navbar>.container>.collapse>.nav {
		padding-top: 15px;
	}
	header>.navbar>.container>.collapse>.nav>.wb>a {
		color: #000 !important;
	}
	contant>.container>img {
		padding: 10px 0px!important;
	}
	contant>.container {
		height: 70px!important;
	}
	.container>.com {
		padding-top: 50px;
	}
	contant>.container>.liucheng {
		animation: none !important;
	}
}



@media (min-width:0px) and (max-width: 993px) {
	.container-bg>.container>.com,
	.container>.com1 {
		width: 70%;
		margin: 0 auto;
	}
}
