    /*-------------通用--------*/

li {
    list-style: none;
}

h4 {
    font-size: 17px;
/*    font-family: cursive*/
}

.we,
p,
span {
/*    font-family: cursive;*/
    padding: 0px;
}

img{
	display: block;
}
.ca span {
    padding-left: 113px;
}

body {
    background: #fafafa;
}
body a{
    text-decoration: none;
}


/*-------------通用-----------*/


/*---------------------header--------------------------*/

header {
    position: relative;
}

header .navbar {
    background: rgba(0, 0, 0, 0.67);
    margin: 0;
    border-radius: 1px;
    border: 0;
}

header .container .collapse .nav {
    padding-left: 170px;
}

header .container .collapse .nav li {
    padding: 15px 25px;
    color: white;
    font-size: 18px;
}

header .container .collapse a {
    color: white;
}

header .container .collapse a:hover {
    color: #30c2b0;
}


/*------------------------header-------------------------------------*/


/*-------------------------------banner----------------------------*/

banner {
    position: relative;
    top: 0px;
}

banner .container .btn-group button {
    background-color: #30c2b0!important;
    padding: 11px 80px;
    margin-top: 10px;
    font-size: 18px;
/*    font-family: monospace;*/
}

banner .container {
    text-align: center;
}

banner .container .btn-group .dropdown-menu li a {
    padding: 12px 106px;
    margin: 0 auto;
    text-align: center;
}


.main-t ul li {
    float: left;
    padding: 16px 58px;
}



/*-------------------------------banner----------------------------*/


/*-------------------------conte-------------------------------*/

conte .bnm .row .col-md-3{
    background-color: #fff;
    border: 1px solid #230606;
    
}
conte .bnm .row .col-md-3 img{
    padding-top: 20px;
}
conte .fanye .cv li{
    float: left;
       /* padding: 10px 89px*/
}
.fanye .cv{
   margin: 0 auto;
}

/*-------------------------conte-----------------------------------*/

/*-----------------------------------分屏---------------------------------*/

@media all and (min-width:800px) and (max-width:1199px) {
    header .container .collapse .nav {
        padding: 32px 0px;
    }
    header .container .collapse .nav li {
        padding: 15px 17px;
    }
    banner .container .btn-group button {
        padding: 11px 107px;
    }
}

@media all and (min-width:400px) and (max-width:799px) {
    header .container .collapse .nav {
        padding: 32px 0px;
    }
    header .container .collapse .nav li {
        padding: 15px 17px;
    }
    span {
        padding-left: 0px;
    }
}

@media all and (max-width:399px) {
    banner .container .btn-group button {
        padding: 11px 0px;
    }
    header .container .collapse .nav {
        padding-left: 10px;
    }
    .col-md-3 {
        text-align: center;
        width: 100%;
    }
    .container .btn-group{
            width: 100px;
        }
}
    
    @media all and (max-width:1000px) {
        .main-t {
            display: none;
        }
    }
    @media all and (min-width:400px) and (max-width:600px) {
        .bnm {
            width: 350px;
        }
        /* .bnm .row{
        width: 100%;
    }*/    
    }
    conte>.container>.fanye>ul{
	padding-bottom: 5px;
	padding-top: 10px;
}
conte>.container>.fanye>ul>li{
	float: left;
	padding: 0px 3px;
	padding-bottom: 5px;
}
conte>.container>.fanye>ul>li>a{
	display: inline-block;
    height: 36px;
    line-height: 36px;
    width: 36px;
    margin-left: -1px;
    text-align: center;
    border: 1px solid #cccccc;
}



footer>.container>.row>.col-md-2>ul>li {
	font-size: 16px;
	color: #000;
	line-height: 16px;
	padding-bottom: 38px;
	text-align: center;
}
footer>.container>.row>.col-md-2>ul{
	border-left: 1px solid #5E5E5E;;
}
footer>.container>.row>.col-md-2>h4 {
	font-size: 16px;
	color: #000;
	text-align: center;
	width: 100%;
	line-height: 16px;
	display: block;
	padding-bottom: 30px;
}

footer>.container>.row>.col-md-2>p {
	font-size: 16px;
	color: #828181;
	text-align: left;
	clear: both;
	width: 100%;
	line-height: 36px;
}
footer>.container>.row>.col-md-3>p,footer>.container>.row>.col-md-2>p,footer>.container>.row>.col-md-3>h4{
     display: block;
	text-align: center;
}
footer>.container>.row>.col-md-2>img, footer>.container>.row>.col-md-3>img{
	margin: 0 auto;
}
footer>.container>.row{
	padding: 95px 0px 20px 0px;
}
footer .col-xs-6{
    text-align: center;
}


    /*-------------------分屏----------------*/